<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>線上圖片預覽</title>
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="icon"
      href="https://pic.pimg.tw/milo0922/1478840717-2671712461_n.png"
      type="image/ico"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="app">
      <div
        class="bg"
        v-bind:style="{backgroundImage:'url('+img1Url+')'}"
        v-bind:class="{ BGfadeIn: showImg1, 'BGfadeOut': showImg2 }"
      ></div>
      <div
        class="bg"
        v-bind:style="{backgroundImage:'url('+img2Url+')'}"
        v-bind:class="{ BGfadeIn: showImg2, 'BGfadeOut': showImg1 }"
      ></div>
      <h1 id="main_title" class="scrollTop2">線上圖片預覽</h1>
      <section class="inputbox scrollTop1">
        <input
          @input="changeUrl"
          v-model="inputText"
          type="text"
          name=""
          id=""
          placeholder="請輸入..."
        />
        <i class="fab fa-searchengin search_icon"></i>
      </section>
      <section class="imgboxBorder scrollTop2">
        <div class="imgbox">
          <div class="fragmentbox" ref="fragmentbox">
            <span
              v-if="createFragment===true&&showImg1!==true"
              v-for="(item,index) in fragment.amount"
              class="fragment"
              v-bind:style="{backgroundImage:'url('+img1Url+')',backgroundSize:fragment.BGsize,width:fragment.width,height:fragment.height,backgroundPositionX:fragment.position[index].x,backgroundPositionY:fragment.position[index].y,transitionDelay:Math.random()*1.5+'s',opacity:fragment.fadeOut?0:1}"
            >
            </span>
            <span
              v-if="createFragment===true&&showImg2!==true"
              v-for="(item,index) in fragment.amount"
              class="fragment"
              v-bind:style="{backgroundImage:'url('+img2Url+')',backgroundSize:fragment.BGsize,width:fragment.width,height:fragment.height,backgroundPositionX:fragment.position[index].x,backgroundPositionY:fragment.position[index].y,transitionDelay:Math.random()*1.5+'s',opacity:fragment.fadeOut?0:1}"
            >
            </span>
          </div>
        </div>
      </section>
    </div>
    <!-- http://pic1.cxtuku.com/00/16/05/b374c3692926.jpg -->
    <!-- http://img.inmywordz.com/uploads/20171201210909_70.png -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: ".app",
        data: {
          inputText: "",
          img1Url:
            "http://i1.bangqu.com/r2/news/20171206/3048724934326a6d4765.jpg",
          img2Url:
            "http://i1.bangqu.com/r2/news/20171206/3048724934326a6d4765.jpg",
          showImg1: true,
          showImg2: false,
          isMobi: undefined,
          createFragment: false,
          viewFix:false,
          fragment: {
            amount: 0,
            row: 0,
            column: 0,
            width: "",
            height: "",
            position: [],
            fadeOut: false,
            BGsize: "",
            containerH:'',
            containerW:'',
          }
        },
        methods: {
          handleFragment: async function() {
            let fragment = this.fragment;
            //碎片寬  容器寬除以一排碎片的數量  碎片高  容器高除以一列碎片的數量
            fragment.containerW = this.$refs.fragmentbox.offsetWidth;
            fragment.containerH = this.$refs.fragmentbox.offsetHeight;

            // 984 584 420 260容器寬的可能性
            //560 440 420 260容器高的可能性
            //1.75 1.32 1 1
            
            switch (fragment.containerW) {
              case 984:
                fragment.row = 26;
                fragment.column = 15;
                // console.log("最大");
                break;
              case 584:
                fragment.row = 20;
                fragment.column = 16;
                // console.log("次大");
                break;
              case 420:
                fragment.row = 16;
                fragment.column = 16;
                // console.log("次小");
                break;
              case 260:
                if (this.isMobi === false) {
                  fragment.row = 12;
                  fragment.column = 12;
                }
                if (this.isMobi === true) {
                  fragment.row = 8; //手機效能考量  降低負荷量
                  fragment.column = 8;
                }
            }
            fragment.amount = fragment.row * fragment.column;
            fragment.height = fragment.containerH / fragment.column + "px";
            fragment.width = fragment.containerW / fragment.row + "px";
            fragment.BGsize = `${fragment.containerW}px ${
              fragment.containerH
            }px`;
            fragment.position = [];

            for (
              let i = 0,
                position = fragment.position,
                w = parseFloat(fragment.width),
                h = parseFloat(fragment.height),
                length = fragment.column;
              i < length;
              i++
            ) {
              for (let j = 0, length = fragment.row; j < length; j++) {
                position.push({ x: -w * j + "px", y: -h * i + "px" }); //每個碎片的圖片定位
              }
            }
            this.createFragment = true;
            await setTimeout(() => {
              fragment.fadeOut = true;
              this.viewFix=false;
            }, 1300);
            if (this.showImg1 === true) {
              this.$refs.fragmentbox.style.backgroundImage =
                "url(" + this.img1Url + ")";
            }
            if (this.showImg2 === true) {
              this.$refs.fragmentbox.style.backgroundImage =
                "url(" + this.img2Url + ")";
            }
            fragment.fadeOut = false;
            await setTimeout(() => {
              this.viewFix = true;
            }, 3000);
          },
          changeUrl: function() {
            if (
              this.inputText.slice(-3) === "jpg" ||
              this.inputText.slice(-3) === "png"
            ) {
              //得到新圖片（圖二）

              if (this.showImg1 === true) {
                //從圖一切換到圖二
                this.img2Url = this.inputText;
                this.showImg2 = true;
                this.showImg1 = false;
                this.handleFragment();
                return;
              }
              if (this.showImg2 === true) {
                //從圖二切換到圖一
                this.img1Url = this.inputText;
                this.showImg1 = true;
                this.showImg2 = false;
                this.handleFragment();
                return;
              }
            }
          }
        },
        mounted: function() {
          if (
            /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
              navigator.userAgent
            )
          ) {
            this.isMobi = true;
          } else {
            this.isMobi = false;
          }
        }
      });
    </script>
  </body>
</html>
